td:empty::after{
    content: "\00a0";
}

.test{
    position: relative;
    right: 100;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#button{
    padding-left: 10px;
    padding-right: 10px;
}

#button_div1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: coral;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
