<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fraud Prediction Model</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h2>Fraud Prediction Model</h2>
        <p>This machine learning model uses a random forest model to predict whether mock credit card transactions are fraudulent or legitimate.</p>
    </div>

    
    <div class="col-md-8">
        {{table_data|safe}}
    </div>
    <div class="col-md-4">
        {{empty_table|safe}}
    </div>
  </div>


<div></div>

</body>

</html>
