<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fraud Prediction Model</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" id="logo">Fraud Model</a>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron text-center">
          <h2>Tableau Visualizations</h2>
            <p>Below are some vizualizations on our datasets.</p>
            <br>
          <div class="test">
            <a class="navbar-brand" href="/visuals.html" id="logo">Visualization 1</a>
            <a class="navbar-brand" href="/visual2.html" id="logo">Vizualization 2</a>
            <a class="navbar-brand" href="/visual3.html" id="logo">Visualization 3</a>
            <a class="navbar-brand" href="/visual4.html" id="logo">Vizualization 4</a>

          </div>
        </div>
    </div>



  </body>